* {
    box-sizing: border-box;
    margin: 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50vh 25vh 25vh;;
  }

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;

  background-color: lightblue;
  border: 1px solid red;
}
.content7{
  overflow: auto;
}
.content9{
  background-image: url(./OKTAY\ SOĞAN\ HALKASI.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


